body{
  font-family: Microsoft JhengHei;
  padding-right: 0 !important;
}
.tophighter{
	background: #E6E4E3;
    width: 100%;
    padding-top: 150px;
    text-align: center;
}
.padding-btm100{
	padding-bottom:100px; 
}
.canterobj{
	
}.img_carousel{
  	height: 100%;
  	width: 100%; 
  	object-fit: cover;
}.image_contain{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: contain;
}.height{
	height: calc(100vh - 4rem);
}.size{
	height:40rem;
	width: 100%;
}.size_w{
  height:20rem;
  width: 100%;
}
  width: 100%;
,array("","","","#")
	,array("","","","#")