body{
  font-family: Microsoft JhengHei;
  padding-right: 0 !important;
}

.background{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.bg_color_t{
  background-color: transparent;
}

.color_t{
  color: transparent !important;
}

.align_items_center{
  align-items: center;
}

.align_items_end{
  align-items: flex-end;
}

.image_whole{
  max-width: 100%;
  max-height: 100%;
}

.image_cover{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.image_center{
height: 100%;
width: 100%;
object-fit: contain;
object-position: center;
}

.color_white{
  color: #fff;
}

.color_black{
  color: #000 !important;
}

.text_decoration_none{
  text-decoration: none !important;
}

.pointer{
  cursor: pointer;
}

.ver_middle{
  vertical-align: middle !important;
}
.ver_top{
  vertical-align: top;
}

.h_100{
  height: 100%;
}

.border-radius-0{
  border-radius: 0 !important;
}

.white_space_nowrap{
  white-space: nowrap; 
} 



/****Change Number Color on iPhone Safari*****/
a[href^=tel] { 
  text-decoration:inherit;
  color: inherit;
}
/****Change Number Color on iPhone Safari*****/

/*****table*****/
  @media (max-width: 768px){
  .table-rwd{min-width: 100%;}
    /*針對tr去做隱藏*/
    tr.tr-only-hide {display: none !important;}
    /*讓tr變成區塊主要讓他有個區塊*/
    .table-rwd tr{
      display: block;
      border: 1px solid #ddd;
      margin-top: 5px;
    }
    .table-rwd td {
      text-align: left;
      font-size: 15px;
      overflow: hidden;
      width: 100%;
      display: block;
    }
    .table-rwd td:before {
      /*最重要的就是這串*/
      content: attr(data-th) "  ";
      /*最重要的就是這串*/
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 10px;
      /*color: #D20B2A;*/
    }
    /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
    .table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0;}
  }

  @media (min-width: 768px) and (max-width: 992px){
    .table-rwd{min-width: 100%;}
    /*針對tr去做隱藏*/
    tr.tr-only-hide {display: none !important;}
    /*讓tr變成區塊主要讓他有個區塊*/
    .table-rwd tr{
      display: block;
      border: 1px solid #ddd;
      margin-top: 5px;
    }
    .table-rwd td {
      text-align: left;
      font-size: 15px;
      overflow: hidden;
      width: 100%;
      display: block;
    }
    .table-rwd td:before {
      /*最重要的就是這串*/
      content: attr(data-th) "  ";
      /*最重要的就是這串*/
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 10px;
      /*color: #D20B2A;*/
    }
    /*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
    .table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0;}
  }

  @media (min-width: 992px) and (max-width: 1200px){
    .table-rwd{min-width: 100%;}
    /*針對tr去做隱藏*/
    tr.tr-only-hide {display: none !important;}
    /*讓tr變成區塊主要讓他有個區塊*/
	.table-rwd tr{
	  display: block;
	  border: 1px solid #ddd;
	  margin-top: 5px;
	}
	.table-rwd td {
	  text-align: left;
	  font-size: 15px;
	  overflow: hidden;
	  width: 100%;
	  display: block;
	}
	.table-rwd td:before {
	  /*最重要的就是這串*/
	  content: attr(data-th) "  ";
	  /*最重要的就是這串*/
	  display: inline-block;
	  text-transform: uppercase;
	  font-weight: bold;
	  margin-right: 10px;
	  /*color: #D20B2A;*/
	}
	/*當RWD縮小的時候.table-bordered 會有兩條線，所以針對.table-bordered去做修正*/
	.table-rwd.table-bordered td,.table-rwd.table-bordered th,.table-rwd.table-bordered{border:0;}
  }
/*****table*****/

/*****TAB5*****/
  .tab_5{
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    .tab_md_5{
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
  }

  @media (min-width: 992px) {
    .tab_md_5{
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
/*****TAB5*****/


/*****font-size*****/
  .fsize_20{
    font-size: 2rem;
  }

  @media (max-width: 768px){
  .fsize_768max_15{
    font-size: 1.5rem;
  }
  .fsize_768max_13{
    font-size: 1.3rem;
  }
  .fsize_768max_10{
    font-size: 1rem;
  }
  .fsize_768max_08{
    font-size: 0.8rem;
  }
  }

  @media (max-width: 576px){
  .fsize_576max_25{
    font-size: 2.5rem;
  }
  .fsize_576max_23{
    font-size: 2.3rem;
  }
  .fsize_576max_20{
    font-size: 2rem;
  }
  .fsize_576max_15{
    font-size: 1.5rem;
  }
  .fsize_576max_13{
    font-size: 1.3rem;
  }
  .fsize_576max_10{
    font-size: 1rem;
  }
  .fsize_576max_08{
    font-size: 0.8rem;
  }
  .fsize_576max_06{
    font-size: 0.6rem;
  }
  }

  @media (min-width: 768px) and (max-width: 992px){
  .fsize_992_768_20{
    font-size: 2rem;
  }
  .fsize_992_768_15{
    font-size: 1.5rem;
  }
  }

  @media (min-width: 992px){
  .fsize_992min_20{
    font-size: 2rem;
  }
  .fsize_992min_15{
    font-size: 1.5rem;
  }
  }

  @media (min-width: 1500px){
  .h1{
    font-size: 2.5rem;
  }
  .h5{
    font-size: 1.25rem;
  }

  .fsize_h2{
    font-size: 2.5rem;
  }


  .fsize_1500min_40 {
    font-size: 4rem;
  }
  }
/*****font-size*****/


